<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="AsyncWrapper" name="asyncFile">
      <target name="file" xsi:type="File"
          layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}"
          fileName="${basedir}/logs/${shortdate}-logs.txt"
          Every="Day"
          archiveNumbering="Rolling"
          maxArchiveFiles="10"
          keepFileOpen="false"
          concurrentWrites="true"
          encoding="utf-8" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="asyncFile" />
  </rules>
</nlog>