@model Physiosoft.DTO.User.UserLoginDTO
    

@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Views/Authentication/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <title>Login</title>
</head>
<body>

    <div class="container">
        <div class="login-container">
            <form class="login-form" asp-controller="Authentication" asp-action="Login" method="Post">
                <h3 class="text-center mb-4">Sign in</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Email">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="KeepLoggedIn">
                    <label class="form-check-label" for="KeepLoggedIn">Remember me</label>
                </div>
                <div class="d-grid mb-2">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
                <div class="text-center">
                    <a href="~/Authentication/Signup" class="custom-link">Create an account!</a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>