@{
    ViewData["Title"] = "Physiosoft";
}

<link href="~/css/typewriter.css" rel="stylesheet" />

<div class="text-center typewriter">
    <h1 >Welcome to Physiosoft</h1>
    <p >The future of physiotherapy center management</p>
</div>